/* Default styles */
body {
    background-image: url('mos-design-ArcuXI-i7bQ-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* or scroll */
    color: white;
}
#hangman-game {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 200px;
    height: 200px;
    z-index: 1;
    float: left;
    left: 0;
    top: 10;
    margin-top: 120px;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px; /* maina pēc vajadzības*/
    height: 50px; /* maina pēc vajadzības*/
    margin-left: 25px;
    margin-top: 25px;
  }
  #logo img {
    max-width: 100%;
    height: auto;
  }
  #displayWord {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        text-align: center;
        letter-spacing: 20px;
        display: flex;
        justify-content: center;
        margin: 20px;
}
.copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
}
#menu {
    text-align: center; /* Centrē izvēli */
}
button {
    /* Gradient background */
    background: linear-gradient(to bottom, #ff009d, #ff0022);
    /* Rounded edges */
    border-radius: 10px;
    /* Text color */
    color: white;
    /* Text size and font */
    font-size: 16px;
    font-family: Arial, sans-serif;
    /* Padding */
    padding: 12px 24px;
    /* Border */
    border: none;
    /* Box shadow */
    box-shadow: 2px 2px 3px #999;
    /* Transition effect for hover */
    transition: all 0.2s ease-in-out;
}

button:hover {
    /* Change background color on hover */
    background: linear-gradient(to bottom,  #2196F3,  #2196F3);
    /* Change cursor on hover */
    cursor: pointer;
    /* Scale up on hover */
    transform: scale(1.1);
}

#menu li a {
    /* Style for all links in the menu */
    text-decoration: none; /* remove underline */
    color: rgb(255, 249, 249); /* set text color */
    font-size: 1.2em; /* increase font size */
    padding: 10px 20px; /* add padding to the links */
    background-color: #00fff2; /* add a background color */
    border-radius: 10px; /* add rounded corners */
}

#menu li a:hover {
    /* Style when the link is hovered over */
    background-color: #ccc; /* change background color on hover */
    color: white; /* change text color on hover */
}

#menu li a#section1 {
    /* Style specifically for the "Section 1" link */
    background-color: #f4f4f4; /* Add a background color */
    padding: 10px; /* Add some padding */
    border-radius: 10px; /* Add rounded corners */
}
#menu li {
    display: inline-block; /* change display to inline-block */
    padding: 10px;
}
#displayWord span {
    display: inline-block;
    position: center;
}

#displayWord span::before {
    content: "";
    width: 10px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}
#hangman-img {
    width: 20%; /* adjust as needed */
    height: auto; /* keep aspect ratio */
}
#lives {
    position: relative; /* position the element relative to its normal position */
    z-index: 0; /* set the z-index to 0 to position it below the hangman image */
    margin-top: 230px;
}
#used-letters {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
}
/* About */
.about {
    position: absolute;
    bottom: 0;
    width: 100%; /* or any specific width you want */
    text-align: center; /* or left/right */
    display: none;
}
.about {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  #about-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
function showAbout(){
    var aboutSection = document.getElementById("about-section");
    if(aboutSection.style.display === "none"){
        aboutSection.style.display = "block";
    }else{
        aboutSection.style.display = "none";
    }
}
  
